[Desktop Entry]
Icon=kdevelop
Type=Service
ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kcm_kdevkernel
X-KDE-ParentApp=kdevplatformproject
X-KDE-ParentComponents=KDevKernelPlugin,KDevGenericManager
X-KDE-CfgDlgHierarchy=BUILDTOOL

Name=Linux Kernel Development Settings
Comment=Configure Linux Kernel Development Settings