[Desktop Entry]
Icon=linux
Type=Service
ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kcm_kdevkernel
X-KDE-ParentApp=kdevplatformproject
X-KDE-ParentComponents=KDevKernel,KDevGenericManager
X-KDE-CfgDlgHierarchy=BUILDTOOL

Name=Linux Kernel
Comment=Configure Linux Kernel Development Settings
