[Desktop Entry]
Type=Service
Name=Linux Kernel Project Manager
Comment=Project Manager for editing the Linux Kernel
Icon=linux
ServiceTypes=KDevelop/Plugin
GenericName=KernelPlugin
X-KDE-Library=kdevkernel
X-KDE-PluginInfo-Name=KDevKernel
X-KDE-PluginInfo-Author=Alexandre Courbot
X-KDE-PluginInfo-Email=gnurou@gmail.com
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Category=Project Management
X-KDevelop-Version=16
X-KDevelop-Category=Project
X-KDevelop-Interfaces=org.kdevelop.IProjectBuilder,org.kdevelop.IProjectFileManager,org.kdevelop.IBuildSystemManager
X-KDevelop-IRequired=org.kdevelop.IMakeBuilder
X-KDevelop-Mode=GUI
X-KDevelop-LoadMode=AlwaysOn
